<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=59.110.235.44;Initial Catalog=hongruan;User ID=hrdev;Password=123hrdev456" />
    <add name="hongruanConnectionString" connectionString="Data Source=59.110.235.44;Initial Catalog=hongruan;Persist Security Info=True;User ID=hrdev;Password=123hrdev456" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <sessionPageState timeout="1440"/>
        <compilation debug="true" targetFramework="4.0" />   
    </system.web>
  
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="副本 副本 VideoPage.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
  
</configuration>
